.comment-list {
  margin: 0.21em 0 0.93em;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.comment-list__item {
  display: flex;
  align-items: flex-start;
  font-size: var(--font-size-xs);
  margin-bottom: 0.21em;
  gap: 0.37em;
  line-height: var(--line-height-relaxed);
  min-height: 33px;
}
.comment-list__avatar {
  border-radius: 50%;
  margin-right: 0.42em;
  object-fit: cover;
  border: 1.3px solid var(--success);
  width: 27px;
  height: 27px;
  margin-top: 0.18em;
}
.comment-list__user {
  color: var(--primary);
  font-weight: 600;
  margin-right: 0.41em;
  letter-spacing: 0.006em;
  font-size: 1.02em;
}
.comment-list__text {
  color: var(--text-primary);
  font-weight: 470;
  letter-spacing: 0.009em;
}
