.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  min-height: 100vh;
  padding: 2.2em 0 3.5em 0;
}

.feed__empty {
  margin-top: 3em;
  color: var(--secondary);
  font-size: var(--font-size-md);
  letter-spacing: .01em;
}

@media (max-width: 576px) {
  .feed {
    padding: 1.03em 0 2.2em 0;
  }
  .feed__empty {
    font-size: var(--font-size-sm);
    margin-top: 2em;
  }
}
